In [13]:
import tweepy, datetime
import pandas as pd

In [44]:
access_token="1451347013069594630-eYACOGwhpGyf2Pm5bIExC3bIikgaMW"
access_token_secret="b9wn7gH4Nq958hBFWy29zlvFrqkqwDAbNz8OElM1msAHl"
consumer_key="TmoJHDUEj1qtmzSeJSQeJEAsu"
consumer_secret="iQcdG9SQdVa3LwVO1qy5mHpgnHSmTwMv6mzB27zBz0Qsc0WBkE"

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, wait_on_rate_limit=True)

In [45]:
userID = "elonmusk"
start_date = datetime.datetime(2019, 1, 1, 00, 00, 00)
end_date = datetime.datetime(2021, 9, 30, 00, 00, 00)
df = pd.DataFrame()
date = []
text = []

for tweet in tweepy.Cursor(api.user_timeline, screen_name=userID,count=20000).items():
    
    date_obj = tweet.created_at
    date.append([date_obj.year, date_obj.month, date_obj.day])
    
    text.append(tweet.text)
    
df["Date"] = date
df["Content"] = text

print(df.shape)
df.head()

(1400, 2)

             Date                                            Content
0  [2021, 10, 28]  @teslaownersSV @Teslarati @ResidentSponge Tesl...
1  [2021, 10, 28]        @Rainmaker1973 Cover story for Godzilla obv
2  [2021, 10, 28]  @TheBabylonBee “Tax experts said they're not s...
3  [2021, 10, 28]  @atNickVega @CNBCMakeIt Thanks for your suppor...
4  [2021, 10, 28]  @ecommerceshares The cemetery of automotive st...

In [46]:
# store data
filename = "../datasets/twitter_data_1.csv"
df.to_csv(filename)