In [1]:
import pandas as pd
import pandas_datareader as pdr
import datetime as dt

In [3]:
# setup parameter
ticker_name = "TSLA"

start = dt.datetime(2019, 1, 1)
end = dt.datetime(2021, 10, 29)

In [4]:
data = pdr.get_data_yahoo(ticker_name, start, end)
print(data.shape)
data.head()

(693, 6)

                 High        Low       Open      Close      Volume  Adj Close
Date
2019-01-02  63.026001  59.759998  61.220001  62.023998  58293000.0  62.023998
2019-01-03  61.880001  59.476002  61.400002  60.071999  34826000.0  60.071999
2019-01-04  63.599998  60.546001  61.200001  63.537998  36970500.0  63.537998
2019-01-07  67.348000  63.549999  64.344002  66.991997  37756000.0  66.991997
2019-01-08  68.802002  65.403999  68.391998  67.070000  35042500.0  67.070000

In [6]:
# store data
filename = "../datasets/TSLA_data.csv"
data.to_csv(filename)